---
import HeaderLink from './HeaderLink.astro';
---
<header class="flex flex-row-reverse">
	<nav>
		<div class="flex gap-2 m-4 mr-16">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<!--TODO:  <HeaderLink href="/projects">Blog</HeaderLink> -->
			<!-- <HeaderLink href="/about">About</HeaderLink> -->
		</div>
	</nav>
</header>

